.order-edit {
  width: 80%;
}
@media (max-width: 767px) {
  .order-edit {
    width: 100%;
  }
}
.order-edit textarea {
  min-height: 100px;
}
.order-edit select {
  max-width: 200px;
}
.order-edit .commands {
  margin-top: 20px;
}
