<h2>{{title}}</h2>
<div class="order-edit">
  <div class="form-group">
    <label for="text">Order text:</label>
    <br />
    <textarea id="text"
              [(ngModel)]="order.Text"
              placeholder="enter a suitable text..."
              class="form-control"></textarea>
  </div>

  <div>
    <label for="value">Value:</label>
    <br />
    <select id="value" name="value"
            [(ngModel)]="order.Value"
            class="form-control">
      <option *ngFor="let num of [-5,-4,-3,-2,-1,0,1,2,3,4,5]" [value]="num">{{num}}</option>
    </select>
  </div>

  <div class="commands">
    <input *ngIf="editMode" type="button"
           value="Apply Changes"
           (click)="onSubmit(order)"
           class="btn btn-success" />
    <input *ngIf="!editMode" type="button"
           value="Create the Order!"
           (click)="onSubmit(order)"
           class="btn btn-success" />
    <input type="button" value="Cancel"
           (click)="onBack()"
           class="btn btn-default" />
  </div>
</div>
