<div class="about">
  <div class="about-details">
    <div class="about-image">
      <img src="cs-favicon.png"
           alt="image" class="img-circle">
    </div>
    <div class="about-info-block">
      <div class="about-heading">
        <h2></h2>
        <span class="help-block">College Store</span>
      </div>

      <ul class="navigation">
        <li class="active">
          <a data-toggle="tab" href="#description">
            <span class="glyphicon glyphicon-info"></span>
            &nbsp; Description
          </a>
        </li>
      </ul>
      <div class="about-body">
        <div class="tab-content">
          <div id="description" class="tab-pane active text">
            The idea behind this application will be to help international student either sale or
            give away freely the items they own, to fellow students who will continue to stay in
            Canada or new coming students. These action will take place on a desktop application
            called College-Store or CS for short. This application is limited to only students,
            allowing students to login to the application using their respective college IDs
          </div>
        </div>
      </div>

      <ul class="navigation">
        <li class="active">
          <a data-toggle="tab" href="#description">
            <span class="glyphicon glyphicon-user"></span>
            &nbsp; Developers
          </a>
        </li>
      </ul>
      <div class="about-body">
        <div class="tab-content">
          <div id="description" class="tab-pane active text">
            <table >
              <tr>
                <th style="text-align:center;">Lead Developer </th>
                <th style="text-align:center;">Experience</th>
              </tr>
              <tr>
                <td>
                  <img src="ivanpic.png"
                       alt="image" class="img-circle">
                </td>
                <td style="padding: 30px;">
                  With experience in HTML, CSS and JavaScript, I have built web
                  solutions using the ASP.NET and AngularJs.
                  My experience also extends to the Django web
                  framework used to develop full fledged websites
                  in Python. it encourages rapid development and advocates pragmatic and clean code.
                  For years have built projects using C# with .NET
                  and Java while having a solid foundation with Java Server Pages web technologies.
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>

