<h3>Orders</h3>
<div *ngIf="orders.length > 0">
  <div class="table-responsive">
    <table class="table table-hover answers">
      <thead>
        <tr>
          <th>Text</th>
          <th>Value</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td *ngIf="order.Text === null">N/A</td>
          <td *ngIf="order.Text !== null">{{order.Text}}</td>
          <td *ngIf="order.value ===null">N/A</td>
          <td *ngIf="order.Value !== null">{{order.Value}}</td>
          <td *ngIf="order.Note === null">N/A</td>
          <td *ngIf="order.Note !== null">{{order.Note}}</td>
          <td>
            <button (click)="onEdit(order)" class="btn btn-xs btn-warning">
              <span class="glyphicon glyphicon-edit"></span>
              &nbsp; Edit
            </button>
            <button (click)="onDelete(order)"
                    class="btn btn-xs btn-danger">
              <span class="glyphicon glyphicon-remove"></span>
              &nbsp; Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="orders.length == 0">
  This Product has no orders (yet):
  click the <strong>Add a new Order</strong> button to add the first one!
</div>
<button (click)="onCreate()" class="btn btn-sm btn-primary">
  <span class="glyphicon glyphicon-plus"></span>
  &nbsp; Add a new Order
</button>
