<h2>{{title}}</h2>
<div class="product-edit">
  <div class="form-group">
    <label for="text">Product text:</label>
    <br />
    <textarea id="text"
              [(ngModel)]="product.Text"
              placeholder="enter a suitable text..."
              class="form-control"></textarea>
  </div>
  <div class="commands">
    <input *ngIf="editMode" type="button"
           value="Apply Changes"
           (click)="onSubmit(product)"
           class="btn btn-success" />
    <input *ngIf="!editMode" type="button"
           value="Create the Question!"
           (click)="onSubmit(product)"
           class="btn btn-success" />
    <input type="button" value="Cancel"
           (click)="onBack()"
           class="btn btn-default" />
  </div>

  <order-list *ngIf="editMode" [product]="product"></order-list>

</div>
