<h2>{{title}}</h2>
<div class="trend-edit">
  <div class="form-group">
    <label for="text">Trend text:</label>
    <br />
    <textarea id="text" [(ngModel)]="trend.Text" placeholder="enter a suitable text..."></textarea>
  </div>

  <div class="form-group">
    <label for="Views">Views Expected for trend:</label>
    <br />
    <input type="number" id="Views" name="Views"
           [(ngModel)]="trend.Views" />
  </div>


  <div class="commands">
    <input *ngIf="editMode" type="button" value="Apply Changes" (click)="onSubmit(trend)"
           class="btn btn-success" />
    <input *ngIf="!editMode" type="button"  value="Create the Trend!"
           (click)="onSubmit(trend)"
           class="btn btn-success" />
    <input type="button" value="Cancel" (click)="onBack()"
           class="btn btn-default" />
  </div>

</div>
