<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\CollegeStorez.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    <rewrite>
      <rules>
        <rule name="longSiteRule" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^ugolole-001-site4\.htempurl\.com$" />
          </conditions>
          <action type="Redirect" url="http://www.collegestorez.com/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="shortSiteRule" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^collegestorez\.com$" />
          </conditions>
          <action type="Redirect" url="http://www.collegestorez.com/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
</configuration>